* {
  margin: 0;
}

/* sideBar Siction */
.mainSection {
  gap: 1rem;
}

.mainSection .sideBar ul {
  padding: 0;
  width: 10rem;
}

.mainSection .sideBar li {
  padding: 1rem 0.5rem;
  background-color: rgb(37, 38, 46, 1);
  text-align: center;
  margin: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.mainSection .sideBar li:hover {
  opacity: 1;
}

.mainSection .sideBar li.active {
  opacity: 1;

  /* font-weight: bold; */

  /* letter-spacing: 1px; */
  border-radius: 5px;
  border: 1px solid var(--blue);

  /* padding: 1.1rem; */
}

.light .mainSection .sideBar li.active {
  border: 1px solid #000;
}

/* projects Section */

.projects {
  flex-wrap: wrap;
  gap: 2rem 1rem;
  margin-inline-start: 10px;
  margin: auto;
}

.cards {
  box-shadow: -1px 1px 1px rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.3);
  border: 1px solid rgba(93, 188, 252, 0.3);
  transition: 0.3s;
  border-radius: 5px;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.293),
      rgba(3, 3, 3, 0.5)
    );
}

.light .cards,
.light .cards:hover {
  border: none;
  background-image:
    linear-gradient(
      rgba(201, 224, 226, 0.28),
      rgba(108, 106, 106, 0.393)
    );
}

.cards:hover {
  border: 1px solid var(--blue);
  transform: rotate(1deg);
  scale: 1.02;
  cursor: pointer;
}

.light .cards:hover {
  background-color: rgba(255, 255, 255, 0.195) !important;
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.597),
      rgba(138, 133, 133, 0.393)
    );
}

.cards img {
  border-radius: 5px;
}

.mainSection .projects .cards .title {
  color: var(--title);
  text-transform: capitalize;
}

.mainSection .box .sub-title {
  color: var(--subtitle);
  font-size: 0.8rem;
  margin-top: 0.7rem;
  margin-inline-start: 10px;
}

.mainSection .box .links {
  color: var(--subtitle);
  font-size: 1.2rem;
}

.cards .icon-github:hover,
.cards .icon-link:hover {
  font-size: 1.3rem;
  color: var(--icon-hover);
  cursor: pointer;
}

.mainSection .cards a.card-link {
  font-size: 0.9rem;
  color: var(--blue);
}

@media (max-width: 600px) {
  .mainSection {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .mainSection .sideBar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .mainSection .sideBar ul li {
    padding: 0.6rem 5px;
    align-content: center;
    font-size: 0.8rem;
  }
}
