@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;

}
*{
  margin: 0;
  padding: 0;
}
*,*:before, *:after{box-sizing: inherit;}


:root{
  --primary : #000 ;
  --secondary :#18181B;
  --border:rgba(63 , 63 ,70 ,0.4);
  --title:rgba(244 244 245 );
  --subtitle:rgba(161 161 170);
  --bgHeader:rgba(39 39 40);
  --blue:rgba(93 188 252);
}

.light{
  background: #fff;
}

body{
  background: var(--primary);
  color: white;
}

.container{
  border: 2px solid var(--border);
  width: 80%;
  margin-inline: auto;
  background-color: var(--secondary);
}

.divider{
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

